<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/favicon.ico">

        <title>debugchannel statistics</title>

        <link href="/3rdParty/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>

    <body>

        <!-- Wrap all page content here -->
        <div id="wrap">
            word up
        </div>

        <script src="/jquery/jquery.js"></script>
        <script src="/3rdParty/bootstrap/js/bootstrap.min.js"></script>

        <script type='text/javascript'>
            var curl = {
                baseUrl: '/js',
                packages: {
                    lodash: { location: '/lodash/dist', main: 'lodash' }
                },
                paths: {}
            };
        </script>
        <script src="/curl/dist/curl-kitchen-sink/curl.js"></script>

    </body>
</html>
